:root {
  --hoopi-green-light: #91DE85; 
  --hoopi-green-dark: #378b31;
  --hoopi-text-dark: #333333;
  --hoopi-input-bg: #e0f2d9; 
}

ion-content {
  --background: #ffffff;
  
  --padding-top: 10px;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.roleSelection-container {
    padding-top: 70px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.chose-message {
  font-family: 'Arial', sans-serif; 
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--hoopi-text-dark);
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 0px 0px;
}   

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.chose-button {
   --background: #2bab22;
  --color: #ffffff;
  height: 50px;
  font-size: 1rem;
  width: 90%;
  transition: transform 0.18s ease, box-shadow 0.18s ease, --background 0.2s ease;
}
.chose-button:hover {
    transform: translateY(-2px);
  --background: #1b5215;
}
.roleSelection-img {
  width: 90%;
}
.login-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.login-button{
  --color: green;
  font-size: 1rem;
  text-transform: none;
  padding-inline: 0;
}