:root {
  --hoopi-green-light: #91DE85; 
  --hoopi-green-dark: #378b31;
  --hoopi-text-dark: #333333;
  --hoopi-input-bg: #e0f2d9; 
}

ion-content {
  --background: #91DE85;
  
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}

.header-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hoopi-logo {
  width: 180px;
  margin-bottom: 20px;
}

.car-illustration {
  width: 100%;
  height: 200px;
  background-image: url('../../assets/images/login_background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-message {
  font-family: 'Arial', sans-serif; 
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--hoopi-text-dark);
  margin-top: 0; 
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.input-group {
  width: 110%;
  margin-bottom: 25px;
  margin-left: -18px;
}

.input-label {
  color: var(--hoopi-text-dark);
  font-weight: bold;
  margin-bottom: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  padding-left: 15px;
}

.custom-input {
  --background: #e0f2d9;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --border-radius: 25px;
  --border-color: transparent;
  color: #333333;
  font-size: 1rem;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
  margin-bottom: 40px;
  flex-wrap: wrap; 
}

.remember-me-item {
  --background: transparent;
  --inner-padding-end: 0;
  --padding-start: 0;
  color: var(--hoopi-text-dark);
  font-size: 0.95em;
  
  ion-checkbox {
    --checkbox-background: #ffffff; 
    --checkbox-background-checked: var(--hoopi-green-dark); 
    --border-color: var(--hoopi-green-dark);
    --border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-inline-end: 10px;
  }
  ion-label {
    margin: 0;
    width: 90px;
  }
}

.forgot-password-button {
  --color: var(--hoopi-text-dark);
  font-size: 0.95em;
  text-transform: none;
  height: auto;
  padding-inline: 0;
}

.login-button {
  --background: #378b31;
  --color: #ffffff;
  --border-radius: 30px;
  height: 55px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin-top: 0;
}

.error-message {
  color: var(--ion-color-danger, #eb445a);
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1em;
  width: 100%;
  text-align: center;
}