<ion-content class="ion-padding" [fullscreen]="true">
  <div class="login-container">
    <div class="header-section">
      <img src="../../assets/images/hoopi_logo.png" alt="Hoopi Logo" class="hoopi-logo">
      <div class="car-illustration"></div>
    </div>

    <h1 class="welcome-message">OLÁ CONDUTOR!</h1>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="input-group">
        <ion-input
        type="text" 
        [(ngModel)]="credentials.email" 
        name="email"
        placeholder="E-mail" 
        class="custom-input"
        required>
          <ion-icon slot="start" name="mail-sharp" aria-hidden="true"></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input 
        type="password" 
        [(ngModel)]="credentials.password" 
        name="password" 
        placeholder="Sanha" 
        class="custom-input"
        required
        >
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
        </ion-input>
      </div>

      <div class="options-row">
        <ion-item lines="none" class="remember-me-item">
          <ion-checkbox slot="start" color="primary"></ion-checkbox>
          <ion-label>Lembre-me a senha</ion-label>
        </ion-item>
        <ion-button fill="clear" color="dark" class="forgot-password-button">
          Esqueci a senha
        </ion-button>
      </div>

      <ion-button expand="block" type="submit" shape="round" class="login-button" [disabled]="loginForm.invalid">
        Entre
      </ion-button>
    </form>
  </div>
</ion-content>