:root {
  --hoopi-green-light: #91DE85; 
  --hoopi-green-dark: #378b31;
  --hoopi-text-dark: #333333;
  --hoopi-input-bg: #e0f2d9; 
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}   
.hoopi-logo {
    height: 32px;
    width: auto;   
}
.help-center, .logo-header {
    display: flex;
    align-items: center;
}
.help-center p {
    font-family: 'Arial', sans-serif; 
    font-size: 1rem;
    font-weight: bold;
    color: green;
}
.help-center ion-icon {
    font-size: 1.5rem;
    color: green;
}